<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "Robo Example App", root_path, class: "navbar-brand" %>

      <ul class="navbar-nav mb-2 mb-lg-0 ">
        <li class="nav-item d-flex">
          <% if user_signed_in? %>
            <span class="navbar-text"><%= current_user.email %></span>
            <%= button_to "Sign Out", destroy_user_session_path, class: "btn btn-link", method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
